#map {
  height:100%;
  width:100%;
}

.church {
  fill: red;
  fill-opacity: 0.5;
  stroke: black;
  stroke-width: 1px;
}

.town {
  fill: white;
  fill-opacity: 0;
  stroke: purple;
  stroke-width: 1px;

}

.animate-control {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
