@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i);

.map {
  height:100%;
  width:100%;
  z-index: 10;
  font-size: initial;
  top:0!important;
  left:0!important;
  padding: 0;
  position:absolute;
  line-height: initial;
  pointer-events: none;
}

.church, .town, .census, .d3MapControlsBox {
  pointer-events: auto;
}

.church {
  fill: red;
  fill-opacity: 0.5;
  stroke: black;
  stroke-width: 1px;
}

.town {
  fill: white;
  fill-opacity: 0;
  stroke: purple;
  stroke-width: 1px;

}

.county {
  fill: none;
  stroke: lightblue;
  stroke-width: 1px;
}

section {
  background: #fff;
  color: #000;
  padding: 2em;
  font-family: "PT Serif", Baskerville, Georgia;
  /* font-size: 1.2rem; */
}

h2 {
  left: 20px;
  top: 10px;
  position: fixed;
  /* color: white; */
  z-index:20;
} 

#d3MapLayerBox {
  display: none;
}

.hidden {
  display: none;
}

#commentary {
  position: absolute;
  left:70%;
  bottom: 80px;
  z-index:100;
  font-size: 10px;
  border: 1px solid lightgray;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  color: black;
  line-height: 1rem;
}

code a {
  text-decoration: none;
}

section.text p {
  width: 66%;
  font-size: 0.7em;
  line-height: 1.25em;
}

aside {
  font-size: 0.4em;
  left: 70%;
  position: absolute;
  width: 20%;
  line-height: 1.4em;
  margin-top: -4rem;
}

a, .green {
  color: rgb(137, 177, 81);
}

.brown {
  color: rgb(113, 90, 56);
}

a {
  text-decoration: underline;
}

code a {
  color: black;
  text-decoration: none;
}
